# editor stuff
export EDITOR="subl -w"
export SVN_EDITOR='subl -w'

# larger bash history and ignore duplicate
export SAVEHIST=32768
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTFILE=~/.zsh_history

setopt SHARE_HISTORY
setopt HIST_EXPIRE_DUPS_FIRST
setopt HIST_IGNORE_ALL_DUPS
setopt INC_APPEND_HISTORY
setopt APPEND_HISTORY
setopt EXTENDED_HISTORY

# make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

# prefer US English and use UTF-8
export LANG="en_US"
export LC_ALL="en_US.UTF-8"

# highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# local development
export APPLICATION_ENV=development